.contact{
    width: 100%;
    height: 40vh;
    position: relative;
    background: #7510F7;
    .contact-content{
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%, 0%);
        z-index: 1;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            font-family: 'OCR A';
            color: #ffffff;
            font-weight: 350;
            text-decoration: underline;
        }
    
        .social-media{
            display:flex;
            justify-content: space-between;
            width: 100%;
            img{
                width: 80px;
                height: 80px;
                margin: 0;
                margin-right: 20px;
            }
            img:hover{
                filter: invert(1);
            }
            a:last-of-type{
                img{
                    margin-right: 0px;
                }
            }
            
        }
        p{
            margin:0;
            text-align: center;
            color: white;
            font-family: 'Inria Serif', serif;
        }
    }
    
}